@mixin posizione($posizione: "center") {
  display: flex;
  align-items: center;
  @if ($posizione == "center") {
    justify-content: center;
  } @else if($posizione== "between") {
    justify-content: space-between;
  }
}
